.App {
  text-align: left;
  
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img{
  height: 300px;
  width: 100%;
}

.ptext{
  font-family: 'Montserrat', sans-serif;
  font-size: 8vw;
  color: white;
   position: absolute;
  
   top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.stext{
  font-size: 2vw;
  font-weight: 50;
  color: white;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle{
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  }

.section1{
  width: 30%;
  height: 300px;
  background-color: rgba(178,50,121);
  border-radius: 10px 0px 30px 10px; 
  margin-top : 10px;
  margin-left: 10px;
  
}

.section2{
  width: 100%;
  height: 300px;
  background-color: rgba(237, 230, 226);
  margin-top : 10px;
  margin-right: -5px;
  transform:translateX(-20px);
  z-index: -1;


}

.NavigationItems{
  position: absolute;
  width: 100%;
   justify-content: center;
   overflow: hidden;
   background-color: rgba(240, 249, 255, 1);
   padding-right: 2em;
   
}

.SubNav1{
  margin-left: 30;
  margin-right: 30;
  font-size: 20px;
  padding-left: 2em;
}
.SubNav2{
  margin-left: 30;
  margin-right: 30;
  font-size: 20px;
  padding-left: 2em;
}
.SubNav3{
  margin-left: 30;
  margin-right: 30;
  font-size: 20px;
  padding-left: 2em;
}
.SubNav4{
  margin-left: 60;
  margin-right: 30;
  font-size: 20px;
  }


  .allbookTable{
    margin-top: 5em;
    text-decoration-color: white; 
    border-style: solid;
    background-color: rgba(240, 249, 255, 1);
      
  }
  .allbookThead{
    text-align: left;
  }
 
  .addbookForm{
    margin-top: 3em;
    font-size: 16px;
    color:rgba(2, 132, 199, 1);
    margin-left: 25%;
    margin-right: 25%; 
  }

  .addbookHeader{
    padding-top: 1em;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;
  }
  .addbookButton{
    margin-top: 20px;
    margin-left: 100%;
    margin-bottom: 30px;
  
  }
  .inputbooksDiv{
    width: 100%;
    background-color:rgba(240, 249, 255, 1);
  }
  

  .contactusHeader{
    text-align: center;
    margin-top: 2em;
    color: rgba(2, 132, 199, 1);
  }
  .contactusRow{
    justify-content: center;
  }


  .footerDiv{
    
    margin-top: 2em;
    width: 100%;
    padding-bottom: 2em;
    
    color: white;
    background-color:rgba(2, 132, 199, 1);
  }

  li{
    list-style-type: none;
  }

  a{
    text-decoration: none;
    scroll-behavior: smooth;
  }

  html{
    scroll-behavior: smooth;
    animation-duration: 200;
    offset: 50;
  }

  .NavigationItems{
    font-size: 20px;
    scroll-behavior: smooth;
    
    
  }

  .navbarDiv{
    
    position: sticky;
    top: 0;
    transition: 0.6s;

  }

  

  #bookBlocks{
    background-color: blue;
    width: 300px;
    height: 300px;
    display:flexbox;
    margin: 50px 10px 50px 20px;
    float: left;
    
    
  }

  
  
  .allBooks{
    position:absolute;
  }